body{
	margin:0px;
	padding: 0px;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 100px;
	font-weight: normal;
	display: flex;
	flex-direction: row;
	justify-content: space;
	background-color: black;
	position: fixed;
	font-family: sans-serif, monospace;
	border: 0px solid green;
	align-items: center;
}
@font-face{
	font-family: "SegoeScript";
	src: url("../fonts/segoesc.ttf") format("truetype");
	}
@font-face{
	font-family: "SF-Pro";
	src: url("../fonts/SF-Pro-Display-Thin.otf");
}
.background{
	margin-top: 80px;
	background-size: cover;
	width:100%;
	height:calc(100vh - 98px);
	background-image: url("../img/background.png");
	border-radius: 0px;
	border: 0px solid blue;
	}
.background_icon{
	background-color: black;
}
.logo{
	margin-left: 30px;
	width: 70px;
	height: 70px;
	border: 0px solid red;
	}
.selected{
	text-decoration: none;
	color: #dfdfdf;
	border: 0px solid red;
	}
.selected:hover{
	color: white;
}
.title{
	width: 100%;
	height: 210px;
	background-color: white;
	color: rgb(252, 4, 4);
	border: 0px solid red;
}
h1{
	font-size: 55px;
	font-family: SegoeScript;
	font-weight: lighter;
}
.titre{
	padding-top: 0px;
	padding-left: 20px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 0px solid green;
}
.store{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 0px solid green;
	height: 120px;
	
}
.espace{
	border: 0px solid green;
	min-width: 160px;
	min-height: 00px;
}
.badge{
	width: 200px;
	border: 0px solid red;
}
.badge:hover{
	transform: scale(1.05);
}
.icon{
	padding-top: 15px;
	width: 230px;
	border: 0px solid red;
}
.comm{
	font-family: "SF-Pro";
	font-weight: normal;
	font-size: 35px;
	text-align: center;
	border: 0px solid red;
	
}
.section{
	display: flex;
	flex-direction: row;
	align-items: center;
	border : 0px solid blue;
}
.screen{
	text-align: center;
	margin: 10px;
	border-radius: 10%;
	border: 0px solid red;
}
img{
	border-radius : 10px;
}
.contact{
	height : 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 0px solid green;
}
#discord_logo {
	width : 140px;
	height: 140px;
	margin-top: 8em;
	vertical-align: middle;
	justify-content: center;
   	border : 0px solid red;
}
#discord_logo:hover{
	transform: scale(1.05);
}
#discord_text{
	height: 59px;
	margin-top: 8em;
	vertical-align: middle;
  	border : 0px solid blue;
}
#instagram_logo{
	width : 120px;
	height : 120px;
	margin-top: 8em;
	margin-left: 3em;
	vertical-align: middle;
	border : 0px solid black;
}
#instagram_logo:hover{
	transform: scale(1.05);
}
#instagram_text{
	height : 40%;
	margin-left: 0.7em;
	margin-top: 8em;
	vertical-align: middle;
	border : 0px solid purple;
}

.mail{
	margin-left: 1em;
	margin-top: 10em;
	margin-bottom: 1em;
	width : 100%;
	display : flex;
	flex-direction: row;
	justify-content: center;
}
#email{
	color: black;
	text-align: center;
	font-family: "SF-PRO";
	font-size: 1.5em;
	text-decoration: none;
	border: none;
	outline: none;
	box-shadow: none;
	width : 15em;
	height: 1.3em;
	margin-bottom: 1em;
	border-bottom: 1px solid #CCCCCC;
}
#email:hover{
	font-weight: 600;
	color: #333333;
}
footer{
	
	height: 4em;
	background-color: black;
	color: white;
	font-family: "SF-PRO";
	text-align: center;
	padding-top: 0.75em;
	
	
}
#policy{
	text-decoration: none;
	color: white;
}

